body {
    font-size: 15pt;
}
.full-screen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-screen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Memastikan gambar menutupi area tanpa deformasi */
}